<h1>Gallery</h1>

<label for="search">Search</label>
<input type="search" id="search" class="form-control" [formControl]="searchField">

<ng-container *ngIf="isLoading">Loading...</ng-container>

<ul class="photos">
  <li *ngFor="let photo of photos$ | async" class="photos-item">
    <div class="card photo-card">
      <img [src]="photo.thumbnailUrl" alt="" class="card-img-top">

      <div class="card-body">
        <h5 class="card-title">{{ photo.title }}</h5>
      </div>
    </div>

  </li>
</ul>

<router-outlet></router-outlet>
