<h1>Gallery</h1>

<label for="search">Search</label>
<input type="search" id="search" class="form-control" [formControl]="searchField">

<app-paging-control [pageNumber]="pageNumber" (prevPage)="prevPage()" (nextPage)="nextPage()">
</app-paging-control>

<ng-container *ngIf="isLoading">Loading...</ng-container>

<ul class="photos">
  <li *ngFor="let photo of photos$ | async; trackBy:trackByFn" class="photos-item">
    <app-photo-card [photo]="photo"></app-photo-card>
  </li>
</ul>

<app-paging-control [pageNumber]="pageNumber" (prevPage)="prevPage()" (nextPage)="nextPage()">
</app-paging-control>
